form {
  font-size: 150%;
  text-align: center;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
}
form input {
  font-size: 100%;
  margin: 5px;
}
form button:hover{
  transition: 2s;
  color: blue;
  background-color: darkolivegreen;
  border: 2px darkred dashed;
}
